@model HoshuSagyo.Models.DisplayModels.SagyoIchiranDisplayContent

<td>@Model.SagyoKaishiBi</td>
<td>@Model.KeitoName</td>
<td>@Model.KankatsuName</td>
<td>@Model.SagyoShubetsuName</td>
<td>@Model.SagyoBashoName</td>
<td>@Model.SagyoNaiyo</td>
<td>@Model.JishaSekininshaMei</td>
<td>@Model.JishaSagyoinSu</td>
<td>@Model.KyoryokuGaishaSekininshaMei</td>
<td>@Model.KyoryokuGaishaSagyoinSu</td>
<td>
    <a asp-controller="SagyoKeikaku" asp-action="Edit" asp-route-id="@Model.Id">修正</a>
    <span>|</span>
    <a asp-controller="SagyoKeikaku" asp-action="Reference" asp-route-id="@Model.Id">参照</a>
    <span>|</span>
    <a asp-controller="SagyoKeikaku" asp-action="Delete" asp-route-id="@Model.Id">削除</a>
</td>