@model HoshuSagyo.Models.InputModels.SagyoKeikakuGamen

<div id="sagyokeikaku-partial" class="row justify-content-center p-3">
    <div class="col-md-4">
        <input asp-for="@Model.Id" type="hidden" />
        <div class="form-floating">
            <input asp-for="@Model.SagyoBango" class="form-control" value="@Model.SagyoBango" disabled="disabled" />
            <label asp-for="@Model.SagyoBango"></label>
        </div>
        @{
            DateTime? sagyoKaishiNichiji = Model.SagyoKaishiNichiji;
            if (Model.SagyoKaishiNichiji == DateTime.MinValue)
            {
                sagyoKaishiNichiji = null;
            }
        }
        <div class="form-floating">
            <input asp-for="@Model.SagyoKaishiNichiji" class="form-control" value="@sagyoKaishiNichiji?.ToString("yyyy-MM-ddTHH:mm")" />
            <label asp-for="@Model.SagyoKaishiNichiji"></label>
            <span asp-validation-for="@Model.SagyoKaishiNichiji" class="text-danger"></span>
        </div>
        @{
            DateTime? sagyoShuryoNichiji = Model.SagyoShuryoNichiji;
            if (Model.SagyoShuryoNichiji == DateTime.MinValue)
            {
                sagyoShuryoNichiji = null;
            }
        }
        <div class="form-floating">
            <input asp-for="@Model.SagyoShuryoNichiji" class="form-control" value="@sagyoShuryoNichiji?.ToString("yyyy-MM-ddTHH:mm")" />
            <label asp-for="@Model.SagyoShuryoNichiji"></label>
            <span asp-validation-for="@Model.SagyoShuryoNichiji" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <select asp-for="@Model.Keito" class="form-control" asp-items="@(new SelectList(Model.KeitoList, "Value", "Text"))" value="@Model.Keito">
                <option value="" hidden>選択してください</option>
            </select>
            <label asp-for="@Model.Keito"></label>
            <span asp-validation-for="@Model.Keito" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <select asp-for="@Model.Kankatsu" class="form-control" asp-items="@(new SelectList(Model.KankatsuList, "Value", "Text"))" value="@Model.Kankatsu">
                <option value="" hidden>選択してください</option>
            </select>
            <label asp-for="@Model.Kankatsu"></label>
            <span asp-validation-for="@Model.Kankatsu" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <select asp-for="@Model.SagyoShubetsu" class="form-control" asp-items="@(new SelectList(Model.SagyoShubetsuList, "Value", "Text"))" value="@Model.SagyoShubetsu">
                <option value="" hidden>選択してください</option>
            </select>
            <label asp-for="@Model.SagyoShubetsu"></label>
            <span asp-validation-for="@Model.SagyoShubetsu" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <select asp-for="@Model.SagyoBasho" class="form-control" asp-items="@(new SelectList(Model.SagyoBashoList, "Value", "Text"))" value="@Model.SagyoBasho">
                <option value="" hidden>選択してください</option>
            </select>
            <label asp-for="@Model.SagyoBasho"></label>
            <span asp-validation-for="@Model.SagyoBasho" class="text-danger"></span>
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-floating">
            <textarea asp-for="@Model.SagyoNaiyo" class="form-control" style="height: calc( 1.3em * 6 );line-height: 1.3" value="@Model.SagyoNaiyo"></textarea>
            <label asp-for="@Model.SagyoNaiyo"></label>
            <span asp-validation-for="@Model.SagyoNaiyo" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <input asp-for="@Model.JishaSekininshaMei" class="form-control" value="@Model.JishaSekininshaMei"/>
            <label asp-for="@Model.JishaSekininshaMei"></label>
        </div>
        <div class="form-floating">
            <input asp-for="@Model.JishaSagyoinSu" class="form-control" value="@Model.JishaSagyoinSu"/>
            <label asp-for="@Model.JishaSagyoinSu"></label>
        </div>
        <div class="form-floating">
            <input asp-for="@Model.KyoryokuGaishaSekininshaMei" class="form-control" value="@Model.KyoryokuGaishaSekininshaMei"/>
            <label asp-for="@Model.KyoryokuGaishaSekininshaMei"></label>
        </div>
        <div class="form-floating">
            <input asp-for="@Model.KyoryokuGaishaSagyoinSu" class="form-control" value="@Model.KyoryokuGaishaSagyoinSu"/>
            <label asp-for="@Model.KyoryokuGaishaSagyoinSu"></label>
        </div>

        @*音声応答画面*@
        <partial name="_OnseiOtoPartial " model="Model.onseiOtoDisplayContent">
    </div>
</div>