@model HoshuSagyo.Models.DisplayModels.SagyoIchiranDisplayContent

<div class="row">
    <div class="col">
        @Model.SagyoKaishiBi
    </div>
    <div class="col">
        @Model.KeitoName
    </div>
    <div class="col">
        @Model.KankatsuName
    </div>
    <div class="col">
        @Model.SagyoShubetsuName
    </div>
    <div class="col">
        @Model.SagyoBashoName
    </div>
    <div class="col">
        @Model.SagyoNaiyo
    </div>
    <div class="col">
        @Model.JishaSekininshaMei
    </div>
    <div class="col">
        @Model.JishaSagyoinSu
    </div>
    <div class="col">
        @Model.KyoryokuGaishaSekininshaMei
    </div>
    <div class="col">
        @Model.KyoryokuGaishaSagyoinSu
    </div>
</div>