@model HoshuSagyo.Models.InputModels.SagyoKeikakuTorokuGamen
@{
    ViewData["Title"] = "作業計画画面";
}

<div class="text-center">
    <h1 class="display-6">作業計画画面</h1>
    <form asp-controller="SagyoKeikaku" asp-action="DoToroku" method="post">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="form-floating">
                    <input asp-for="@Model.SagyoBango" class="form-control" disabled="disabled" />
                    <label asp-for="@Model.SagyoBango"></label>
                </div>
                <div class="form-floating">
                    <input asp-for="@Model.SagyoKaishiBi" class="form-control" value="" />
                    <label asp-for="@Model.SagyoKaishiBi"></label>
                </div>
                <div class="form-floating">
                    <input asp-for="@Model.SagyoKaishiJikan" class="form-control" value="" />
                    <label asp-for="@Model.SagyoKaishiJikan"></label>
                </div>
                <div class="form-floating">
                    <input asp-for="@Model.SagyoShuryoBi" class="form-control" value="" />
                    <label asp-for="@Model.SagyoShuryoBi"></label>
                </div>
                <div class="form-floating">
                    <input asp-for="@Model.SagyoShuryoJikan" class="form-control" value="" />
                    <label asp-for="@Model.SagyoShuryoJikan"></label>
                </div>
                <div class="form-floating">
                    <select asp-for="@Model.Keito" class="form-control" asp-items="@(new SelectList(Model.KeitoList, "Value", "Text"))">
                        <option value="">選択してください</option>
                    </select>
                    <label asp-for="@Model.Keito"></label>
                    <span asp-validation-for="@Model.Keito" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <select asp-for="@Model.Kankatsu" class="form-control" asp-items="@(new SelectList(Model.KankatsuList, "Value", "Text"))">
                        <option value="">選択してください</option>
                    </select>
                    <label asp-for="@Model.Kankatsu"></label>
                    <span asp-validation-for="@Model.Kankatsu" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <select asp-for="@Model.SagyoShubetsu" class="form-control" asp-items="@(new SelectList(Model.SagyoShubetsuList, "Value", "Text"))">
                        <option value="">選択してください</option>
                    </select>
                    <label asp-for="@Model.SagyoShubetsu"></label>
                    <span asp-validation-for="@Model.SagyoShubetsu" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <select asp-for="@Model.SagyoBasho" class="form-control" asp-items="@(new SelectList(Model.SagyoBashoList, "Value", "Text"))">
                        <option value="">選択してください</option>
                    </select>
                    <label asp-for="@Model.SagyoBasho"></label>
                    <span asp-validation-for="@Model.SagyoBasho" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-floating">
                    <textarea asp-for="@Model.SagyoNaiyo" class="form-control" style="height: calc( 1.3em * 6 );line-height: 1.3"></textarea>
                    <label asp-for="@Model.SagyoNaiyo"></label>
                </div>
                <div class="form-floating">
                    <input asp-for="@Model.JishaSekininshaMei" class="form-control" />
                    <label asp-for="@Model.JishaSekininshaMei"></label>
                </div>
                <div class="form-floating">
                    <input asp-for="@Model.JishaSagyoinSu" class="form-control" />
                    <label asp-for="@Model.JishaSagyoinSu"></label>
                </div>
                <div class="form-floating">
                    <input asp-for="@Model.KyoryokuGaishaSekininshaMei" class="form-control" />
                    <label asp-for="@Model.KyoryokuGaishaSekininshaMei"></label>
                </div>
                <div class="form-floating">
                    <input asp-for="@Model.KyoryokuGaishaSagyoinSu" class="form-control" />
                    <label asp-for="@Model.KyoryokuGaishaSagyoinSu"></label>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col">
                <input type="submit" class="btn btn-success" value="登録"/>
                <a class="btn btn-outline-success" asp-controller="Home" asp-action="Index">戻る</a>
            </div>
        </div>
    </form>
</div>
